
<suite name="ERBtestingmaterial">
    <test name="testngTest">


<!--        boyle yaparsan teste@Test (groups = { "smokeTest", "functionalTest" })-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="smokeTest" />-->
<!--            </run>-->
<!--        </groups>-->


        <classes>
            <class name = "pages_tests.BillsOfMaterials_test_Berfu" />
            <class name = "pages_tests.BillsOfMaterials_test_Ulku" />
            <class name = "pages_tests.LoginTest" />
            <class name="pages_tests.ManufacturingOrders_test_oytun" />
            <class name="pages_tests.ManufacturingOrders_testRaghdah" />
            <class name="pages_tests.SergheiTest" />
            <class name="pages_tests.Products_test" />
            <class name="pages_tests.UnbuildOrders_test_Ivan" />
        </classes>
    </test>
</suite>


