
<suite name="softwaretestingmaterial">
    <test name="testngTest">


<!--        boyle yaparsan teste@Test (groups = { "smokeTest", "functionalTest" })-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="smokeTest" />-->
<!--            </run>-->
<!--        </groups>-->


        <classes>
            <class name = "pages_tests.BillsOfMaterials_test_Berfu" />
<!--            <class name = "pages_tests.BillsOfMaterials_test_Ulku" />-->
<!--           <class name = "pages_tests.LoginTest" />-->
        </classes>
    </test>
</suite>

